p {
    color:palevioletred;
    margin: 0;
}
img {
    width: 500px;
    display: block;
    margin: 10px auto;
    border: brown;
    border-width: 10px;
    border-style: solid;
    border-radius: 10%;
}
.head {
    font-size: 50px;
}
#text {
    color:rgb(216, 9, 202);
}
.container {
    width: 500px;
    padding: 10px 15px;
    /* padding-top: 10px; */
    border: 1px solid black;
    margin: 20px auto;
    text-align: center;
    color: red;
    font-size: 30px;
    font-weight: 700;
}
/* .container_text{
    width: 250px;
} */
